{% load static %}

<div class="about-area3 pt-180 pb-170 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.png' %}">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-6 col-lg-6 col-md-9 col-sm-11">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 mb-40">
                    <span>About Our Restaurant</span>
                    <h2>We Provide Good Food For Your Family!</h2>
                    <p>Ut enim acgsd minim veniam, quxcis nostrud exercitation ullamco laboris nisi ufsit aliquip ex ea commodo consequat is aute irure m, quis nostrud exer.</p>
                </div> 
                <!--Hero form -->
                <form action="#" class="search-box">
                    <div class="input-form">
                        <input type="text" placeholder="Your Email">
                    </div>
                    <div class="search-form">
                        <button>Subscribe</button>
                    </div>	
                </form>	
            </div>
        </div>
    </div>
</div>



