
{% load static %}
<header>
  <!--? Header Start -->
  <div class="header-area header-transparent">
          <div class="main-header  header-sticky">
              <div class="container-fluid">
                  <div class="row align-items-center">
                      <!-- Logo -->
                      <div class="col-xl-2 col-lg-2 col-md-1">
                          <div class="logo">
                              <a href="{% url 'homePage' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                          </div>
                      </div>
                      <div class="col-xl-10 col-lg-10 col-md-10">
                          <div class="menu-main d-flex align-items-center justify-content-end">
                              <!-- Main-menu -->
                              <div class="main-menu f-right d-none d-lg-block">
                                  <nav> 
                                      <ul id="navigation">
                                          <li><a href="{% url 'homePage' %}">Home</a></li>
                                          <li><a href="{% url 'about' %}">About</a></li>
                                          
                                          <li><a href="{% url 'allFoods' %}">Foods</a>
                                            
                                            {% if request.user.user_type == "customer" %}
                                                <li><a href="{% url 'calorie_counter' %}">Calorie Counter</a></li>
                                            {% endif %}
                                                
                                              {% comment %} <ul class="submenu">
                                                  <li><a href="">Blog</a></li>
                                                  <li><a href="#">Blog Details</a></li>
                                              </ul> 
                                          </li>{% endcomment %}

                                          <li><a href="{% url 'contact' %}">Contact</a></li>
                                      </ul>
                                  </nav>
                              </div>
                            
                            {% if request.user.user_type == "customer" %}
                            <div class="header-right-btn f-right d-none d-lg-block ml-20">
                                <a href="{% url 'view_cart' %}" class="border-btn header-btn">My Cart</a>
                            </div>

                            {% elif request.user.user_type == "seller" %}
                            <div class="header-right-btn f-right d-none d-lg-block ml-20">
                                <a href="{% url 'profilePage' %}" class="border-btn header-btn">My Profile</a>
                            </div>
                            {% endif %}
                                
                          </div>
                      </div>   
                      <!-- Mobile Menu -->
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>
          </div>
  </div>
  <!-- Header End -->
</header>