{% extends 'common/base.html' %}




{% block body %}
    


<div class="container mt-5 pt-5 pb-3">
    <h2>Order Summary</h2>
    <p><strong>Order ID:</strong> {{ order.id }}</p>
    <p><strong>Order Date:</strong> {{ order.ordered_at }}</p>
    <p><strong>Total Price:</strong> ${{ order.total_price }}</p>

    <h3>Items Ordered:</h3>
    <ul>
        {% for item in order_items %}
            <li>{{ item.food.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.food.price }}</li>
        {% empty %}
            <li>No items found in this order.</li>
        {% endfor %}
    </ul>

    <p>Status: {{ order.is_delivered|yesno:"Delivered,Pending" }}</p>
    <a class="genric-btn success" href="{% url 'orderedFood' %}">Go to your Order Page</a>
</div>




{% endblock body %}
    



